rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla para permitir lectura/escritura solo al usuario autenticado en su propia subcolección
    match /dtbitacora/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
